<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53399215816-b0qtlgcu1hagn1jf0l04936u0alc6fd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53399215816-b0qtlgcu1hagn1jf0l04936u0alc6fd6</string>
	<key>API_KEY</key>
	<string>AIzaSyCFeCbxTcy5zhm0QV_dLW9pypIM5sRjOXs</string>
	<key>GCM_SENDER_ID</key>
	<string>53399215816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveStreaming</string>
	<key>PROJECT_ID</key>
	<string>meyepro-c3f9a</string>
	<key>STORAGE_BUCKET</key>
	<string>meyepro-c3f9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53399215816:ios:baed3d3694bc5ae98ecffd</string>
</dict>
</plist>